
<header>
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container">
          <a class="navbar" href="#topo"></a>

          <div class="navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="">
                        ABOUT ME
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="">
                        PROJECTS
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/profile">
                        CONHECIMENTOS
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/home">
                        CONTATO
                      </a>
                  </li> 
              </ul>
          </div>
      </div>
    </nav>
</header>

<div class="main-page">

    <section class="topo">
        <img class="img-topo" src="../../../assets/images/slider-left-dec.png" alt="">
        <img class="img-phone" src="../../../assets/images/slider-dec.png" alt="">
        <div class="info">
          <h1>Yasmin Verderame</h1>
          <h2 class="typed-out">Front-end Developer</h2>
          <button>Saiba mais</button>
        </div>
    </section>

    <section class="about-me">
        <img src="../../../assets/images/services-right-dec.png" alt="">
        <!-- imagem -->
        <h2>Me <span>conheça</span> um pouco <span>mais</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dignissimos eum similique facere necessitatibus, velit iste laboriosam. Nemo, possimus explicabo.</p>
    </section>

    <section class="projects">
        <div class="row item">
            <div class="col-sm-3 itens">
                <h2>Mutant Whats</h2>
                <p>Landing Page</p>
                <img src="../../../assets/images/mutant.png" alt="">
                <button (click)="openModalProject1()" >Ver mais</button>
            </div>
            <div class="col-sm-3  itens">
                <h2>Jornada de aquisição</h2>
                <p>Processo de compra</p>
                <img src="../../../assets/images/criar-conta.png" alt="">
                <button>Ver mais</button>
            </div>
            <div class="col-sm-3  itens">
                <!-- imagem -->
                <h2>Projeto 3</h2>
                <p>Descrição do projeto</p>
                <img src="../../../assets/images/conectar-whats.png" alt="">
                <button>Ver mais</button>
            </div>
        </div>
    </section>

    <section class="conhecimento">
        <h2>Linguagens e ferramentas</h2>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum sed rem distinctio ipsa tenetur eveniet?</h3>
  
        <div class="itens">
            <div class="item">
                <h4>HTML5</h4>
            </div>
            <div class="item">
                <h4>CSS3</h4>
            </div>
        </div>
        
        <div class="itens">
            <div class="item">
                <h4>ANGULAR</h4>
            </div>
            <div class="item">
                <h4>BOOTSTRAP</h4>
            </div>
        </div>
  
        <div class="itens">
            <div class="item">
                <h4>TYPESCRIPT</h4>
            </div>
            <div class="item">
                <h4>NODE.JS</h4>
            </div>
        </div>
  
        <img class="img-right" src="../../../assets/images/regular-table-top.png" alt="">
        <img src="../../../assets/images/about-right-dec.png" alt="">
    </section>

    <section class="contato">
        <img src="../../../assets/images/footer-bg.png" alt="">
        
        <h2>Me siga nas redes socias e acompanhe meu trabalho!</h2>
        <div class="info-contact">
            <div class="social-media">
                <img class="linkedin" src="../../../assets/images/linkedin.png" alt="">
            </div>
            <div class="social-media">
                <img class="email" src="../../../assets/images/email.png" alt="">
            </div>
            <div class="social-media">
                <img class="github" src="../../../assets/images/github.png" alt="">
            </div>
        </div>
        <h4>@2022 Yasmin Verderame</h4>
    </section>
</div>

<app-modal-project1 *ngIf="modalProject1" (closeModalEmit)="closeModal()"></app-modal-project1>