@import url('https://fonts.googleapis.com/css2?family=Maison Neue+Alternates:wght@100;200;300;400;500;600;700;800&family=Maison Neue:wght@100;200;300;400;500;600;700;900&display=swap');

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
  
::-webkit-scrollbar-thumb {
  background-color: #2fd1fb;
  border-radius: 10px;
}
  
body{
  font-family: 'Maison Neue';
}
  